@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Quicksand:wght@300;400;500&family=Roboto:ital,wght@0,100;0,400;1,100;1,300&display=swap");

:root {
  --Playfair: "Playfair Display", serif;
  --Quicksand: "Quicksand", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --clr-background: #eceff1;
  --clr-base: #ffffff;
  --clr-primary: #1a1a1a;
  --clr-gray: #263238;
  --font-size: 16px;
  --border-radius: 0.2em;
}


body {
  overflow-x: hidden;
  background-color: var(--clr-background);
  color: var(--clr-gray);
  font-size: var(--font-size);
  line-height: 1.4;
  position: relative;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--Quicksand);
}



header {
  max-width: 1920px;
  display: block;
  flex-direction: column;
  justify-content: stretch;
}

.checkbtn{
  font-size:30px;
  color:#f0f8ff;
  float:right;
  line-height:80px;
  cursor:pointer;
}

#check{
  display:none;
}

.brand {
  float:left;
  font-size: 35px;
  font-family: var(--Playfair);
  line-height:80px;
  color: #f0f8ff;
  padding:0 100px;
  
}

.navbar {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  height: 80px;
  width: 100%;
  margin: 0;
}

.navbar-nav {
  float: right;
  position: relative;
  padding-top: 12px;


}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.navbar-nav a {
  position: relative;
  text-transform: uppercase;
  font-family: var(--Roboto);
  letter-spacing: 1px;
  color: #f0f8ff;
  text-decoration: none;
  display: inline-block;
  transition: opacity 0.5s ease;
  font-size: 25px;
  padding: 10px;


}

.navbar-nav a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.4em;
  width: 0%;
  background-color: #80ffff;
  bottom: -0.2em;
  transition: all ease-in-out 250ms;
}

.navbar-nav a:hover::after {
  width: 80%;
}

.navbar-nav a:hover {
  color: #80ffff;
}

.subnav {
  position: absolute;
  display: inline-block;
  background: rgba(0, 0, 0, 0.4);
  height:100%;
  font-size: 2.4rem;
  font-style: var(--Playfair);
  width: 25%;
  left:70px;
}

.subnav-content {
  display:flex;
  flex-direction: column;
  padding: 50px 30px 0 30px;
  
}

.subnav-nav {
  display: block;
  font-size: 2.4rem;
}

.subnav-content div {
  background:buttonface ;
  opacity: 0.6 ;
  font-size: 1.2rem;
  display:none;
  text-align: center;
}


.subnav-content .contact{
  text-align: center;
}

.subnav-content .contact a{
  font-size:20px ;
  font-family: var(--Playfair);
  color: var(--clr-gray);
}

.contact a:hover{
  font-size: 22px;
}


.morein4{
  display:block !important;
}

.morein4 a{
  font-size:20px ;
  font-family: var(--Playfair);
  color: var(--clr-gray);
  display: block;
  text-align: center;
  text-decoration: none;
}
.morein4 a:hover{
  font-size:22px;
  font-style: bold;
}



.design {
  display: inline-block;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  width: 95%;
  position: relative;
  left: 35%;
}

.content {
  display: flex;
  flex-direction: row;
  max-width: 65%;
  box-sizing: border-box;
}

.avatar {
  padding: 0 30px 0 0;
  height:65vh;
  width:60%;
}
.portforlio{
  max-height: 65vh;
  font-size: 1rem;
}


















@media only screen and (min-width:1025px) and (max-width:1728px) {


  .navbar-nav {
    margin: 0;
    font-size: 20px;
  }




}

@media only screen and (max-width:1024px) {

  .navbar-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 115px;
    left: 0;
    text-align: center;
    transition: all .5s;
    background: #2c3e50;
    z-index: 2;
  }

  .navbar-nav a {
    width: 100% !important;
    display: block;
  }

  .navbar-nav a:hover::after {
    width: 100%;
  }

  #check:checked~.navbar-nav {
    left: -100%;
  }




}