@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Quicksand:wght@300;400;500&family=Roboto:ital,wght@0,100;0,400;1,100;1,300&display=swap");

:root {
  --Playfair: "Playfair Display", serif;
  --Quicksand: "Quicksand", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --clr-background: #eceff1;
  --clr-base: #ffffff;
  --clr-primary: #1a1a1a;
  --clr-gray: #263238;
  --font-size: 16px;
  --border-radius: 0.2em;
}


body {
  overflow-x: hidden;
  background-color: var(--clr-background);
  color: var(--clr-gray);
  font-size: var(--font-size);
  line-height: 1.4;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--Quicksand);
}


.navbar {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 1.2rem;
  padding-bottom:1.2rem;
  height:80px;
  width:100%;
  margin:0;
}

.container {
  width: auto;
  margin: 0 auto;
  padding: 0 1.2rem;
}


.navbar-nav {
  float:right;
  position:relative;
  padding-top:12px;
  
  
}

.container::after {
  content: "";
  clear: both;
  display:table;
}

.navbar-nav a {
  position:relative;
  text-transform: uppercase;
  font-family: var(--Roboto);
  letter-spacing: 1px;
  color: #f0f8ff;
  text-decoration: none;
  display: inline-block;
  transition: opacity 0.5s ease;
  font-size:25px;
  padding:10px;
  
  
}

.navbar-nav a::after{
  content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: #80ffff;
    bottom: -0.2em;
    transition: all ease-in-out 250ms;
}
.navbar-nav a:hover::after {
    width: 60%;
  }

.navbar-nav a:hover {
    color: #80ffff;
  }


.banner{
  margin-top:50px;
}

.brand {
  float:left;
  font-size: 35px;
  font-family: var(--Playfair);
  line-height:80px;
  color: #f0f8ff;
  padding:0 100px;
  
}

.blogname {
  visibility:hidden;
  margin:0 auto;
  max-width:800px;
  font-family: var(--Playfair);
  display: block;
  text-align: center;
  font-size:35px;

}


.blog-img img{
  max-width:960px;
  max-height:480px;
  display:block;
  margin:0 auto;
}

.blog-item{
  font-size:25px;
  font-weight:400;
  
}

.blog-item p{
  font-style:italic;
  margin :1.2rem;
  text-align:center;
}

.blog-time {
  max-width:960px;
  margin:0 auto;
  font-style:italic;
}

.paragraph{
  max-width:960px;
  margin : 0 auto;
}
.paragraph div{
  padding: 1.2rem;
}

.paragraph a{
  color: red;
  text-decoration : none;
  font-style: italic;
}

header {
  height: 300px;
  max-width:1920px;
  background:linear-gradient(rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.24)), 
    url(https://www.wallpaperflare.com/static/369/332/935/anime-girls-clear-blue-sky-wallpaper.jpg)
      center/ cover no-repeat fixed; 
  display: block;
  flex-direction: column;
  justify-content: stretch;
}


.title {
  text-align: center;
  padding: 1.2rem;
}

.title h2 {
  font-family: var(--Playfair);
  font-size: 2.4rem;
}

.title p {
  text-transform: uppercase;
  padding: 0.6rem 0;
}




.blog{
background:linear-gradient(rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.24)), 
    url(https://www.wallpaperflare.com/static/369/332/935/anime-girls-clear-blue-sky-wallpaper.jpg)
      center/ cover no-repeat fixed;
max-width:1920px;
}

.blog .container{
  margin-left: auto;
  margin-right: auto;
  display: table;
}



footer {
  background: rgba(0, 0, 0, 0.6);
  padding: 1.5rem 0;
  bottom: 0;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}

.social-links a {
  border: 2px solid #f0f8ff;
  color: #f0f8ff;
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 0.3rem;
  transition: all 0.5s ease;
}

.avatar {
  position: relative;
}

.avatar img {
  width: 300px;
  height: 300px;
}

.noidung {
  max-width: 1236px;
  margin: -310px 21px 0 336px;
  top: 0px;
}

h3 {
  margin-top: 1.2rem;
}

.h3content {
  padding: 1.2rem;
  font-size: 20px;
}

.h3content img {
  width: 1200px;
  height: 720px;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

.h3content i {
  border: 1.2px solid white;
  margin: 0 181px 0 422px;
}
.design-list {
  font-size: 20px;
  text-align: center;
}

.list {
  padding: 0;
  margin: 10px;
}

.list a {
  text-decoration: none;
  color:blue;
}





/*dark mode colors class*/
.dark-mode {
  --clr-background: #263238;
  --clr-base: black;
  --clr-primary: #ffffff;
  --clr-gray: #e0f7fa;
}

.dark-mode header{
  background:linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(https://wallpaperaccess.com/full/415831.jpg)
      center/ cover no-repeat fixed; 
}

.dark-mode .blog{
  background-image:linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(https://wallpaperaccess.com/full/415831.jpg);
  background-position:center/cover;
  background-repeat:no-repeat;
  background-attachment:fixed;

  
}



/*container that holds the switch*/
.wrapper-color-switch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1em;
}

/*label for switch that is interactive*/
.color-switch {
  width: 4em;
  height: 2em;
  border-radius: 10em;
  background: var(--clr-base);
  border: 2px solid var(--clr-primary);
  position: absolute;
  cursor: pointer;
}

/*circle toggle that animates backward and forward*/
.color-switch-toggle {
  width: 1.6em;
  height: 1.6em;
  background: var(--clr-primary);
  position: absolute;
  border-radius: 10em;
  top: 0.2em;
  left: 0.2em;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

/*text label that indicates switch state
//light by default*/
.color-switch::before {
  content: "Light Mode On";
  position: absolute;
  display: inline-block;
  width: 12em;
  left: -8em;
  top: 0.4em;
  font-size:20px;
  font-weight:500;
}

/*animate circle toggle if switch is on*/
#input-color-switch:checked ~ label .color-switch-toggle {
  transform: translatex(2em);
}

/*change text of before if switch is on*/
#input-color-switch:checked ~ .color-switch::before {
  content: "Dark Mode On";
}

/*hide input*/
#input-color-switch {
  display: none;
}



.gallery{
  width:80%;
  margin: 100px auto 50px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  grid-gap:30px;
}

.gallery img{
  width:100%;
  cursor:pointer;
  height:208px;
  object-fit: cover;
}

.gallery img:hover{
  transform: scale(0.8);
  transition:transform 0.5s ease;
}

.full-img{
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.9);
  position:fixed;
  top:0;
  left:0;
  display:none;
  align-items:center;
  justify-content:center;
  z-index:100;
}

.full-img img{
  width:90%;
  max-width:500px;
}

.full-img span{
  position:absolute;
  top:5%;
  right:5%;
  font-size:30px;
  color:#ffffff;
  cursor:pointer;
}

.album-name{
  max-width:960px;
  margin : 0 auto;
  text-align:center;
}



@media only screen and (min-width:1056px) and (max-width:1728px){
  
  .navbar-nav{
   margin:0;
   font-size:20px;
  }
  
  .brand{
    padding-left:0;
    
  }
  .banner .container{
    width:100%;
    padding:0;
    position:relative;
    margin-left:0;
    margin-right:0;
    display:flex;
    align-items:center;
    
  }
  .blogname{
  margin-left: auto;
  margin-right: auto;
  display: table;
  }
  
  .wrapper-color-switch{
    position:absolute;
    bottom:0;
    right:0;
  }
}








