.container{
  max-width : 1320 px;
  margin :0 auto;
  padding : 0 1.2rem;
}


.blog-img img{
  max-width:960px;
  max-height:480px;
  display:block;
  margin:0 auto;
}

.blog-item{
  font-size:20px;
}

.blog-item p{
  font-style:italic;
  margin :1.2rem;
  text-align:center;
}

.blog-time {
  max-width:960px;
  margin:0 auto;
  font-style:italic;
}

.paragraph{
  max-width:960px;
  margin : 0 auto;
}
.paragraph div{
  padding: 1.2rem;
}

.paragraph a{
  color: blue;
  text-decoration : none;
  font-style: italic;
}
