@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Quicksand:wght@300;400;500&family=Roboto:ital,wght@0,100;0,400;1,100;1,300&display=swap");

:root {
  --Playfair: "Playfair Display", serif;
  --Quicksand: "Quicksand", sans-serif;
  --Roboto: "Roboto", sans-serif;
}


body {
  line-height: 1.4;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--Quicksand);
}

.container {
  max-width: 1320 px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

header {
  min-height: 50vh;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://www.wallpaperflare.com/static/369/332/935/anime-girls-clear-blue-sky-wallpaper.jpg)
      center/ cover no-repeat fixed;
  display: block;
  flex-direction: column;
  justify-content: stretch;
}

.navbar {
  background: rgba(0, 0, 0, 0.6);
  padding: 1.2rem;
}

.navbar-nav {
  padding: 0.8rem 0 0.2rem 0;
  text-align: center;
}

.navbar-nav a {
  margin: 2.5px;
  text-transform: uppercase;
  font-family: var(--Roboto);
  letter-spacing: 1px;
  color: #f0f8ff;
  text-decoration: none;
  display: inline-block;
  padding: 0.4rem 0.1rem;
  transition: opacity 0.5s ease;
}

.brand {
  display: block;
  font-size: 1.5rem;
  font-family: var(--Playfair);
  line-height: 1;
  color: #f0f8ff;
  text-align: center;
}

.blogname {
  margin: 20px;
  font-family: var(--Playfair);
  display: block;
  text-align: center;
}

.blogname.active{
  display:none;
}

input[type ="text"]{
  display:block;
  font-size: 20px;
  width: 600px;
  height: 50px;
  border:none;
  border-radius: 2px;
  padding: 10px 10px;
  margin: 0 auto;
}

.display {
  font-size: 28px;
  text-align:left;
}

.arrow{
  padding:0;
  font-size: 30px;
  font-style:var(--Playfair);
}

.wrapper .arrow i{
  margin:50px 10px 0px 350px;
  font-size:30px;
  border-style:inset;
  border-color:#d9d9d9;
  
  
}

.wrapper.active .arrow i{
  margin-left: 50px;
  font-size:30px;
}

.wrapper .input-part{
  margin: 20px 25px 30px;
}
.wrapper.active .input-part{
  display: none;
}

.wrapper .display-part{
  display: none;
}
.wrapper.active .display-part{
  text-align:left;
  display: flex;
  margin-left:50px;
  margin-top:100px;
  flex-direction: column;
  
}
.wrapper.active .display-part i{
  color: ;
}

.feeling{
  display:inline-block;
}

.design {
  padding: 4.5rem 0;
}

.title {
  text-align: center;
  padding: 1.2rem;
}

.title h2 {
  font-family: var(--Playfair);
  font-size: 2.4rem;
}

.title p {
  text-transform: uppercase;
  padding: 0.6rem 0;
}

.design-content {
  margin: 2rem 0;
}

.design-item {
  cursor: pointer;
  margin: 1.5rem 0;
}

.design-img {
  max-width: 960px;
  max-height: 480px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.design-img::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
}

.design-img img {
  transition: all 0.5s ease;
}

.design-item :hover img {
  transform: scale(1.2);
}

.design-title {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
}

.design-title a {
  color: var(--dark);
  text-decoration: none;
}

footer {
  background: rgba(0, 0, 0, 0.6);
  padding: 1.5rem 0;
  bottom: 0;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}

.social-links a {
  border: 2px solid #f0f8ff;
  color: #f0f8ff;
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 0.3rem;
  transition: all 0.5s ease;
}

.avatar {
  position: relative;
}

.avatar img {
  width: 300px;
  height: 300px;
}

.noidung {
  max-width: 1236px;
  margin: -310px 21px 0 336px;
  top: 0px;
}

h3 {
  margin-top: 1.2rem;
}

.h3content {
  padding: 1.2rem;
  font-size: 20px;
}

.h3content img {
  width: 1200px;
  height: 720px;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

.h3content i {
  border: 1.2px solid white;
  margin: 0 181px 0 422px;
}
.design-list {
  font-size: 20px;
  text-align: center;
}

.list {
  padding: 0;
  margin: 10px;
}

.list a {
  text-decoration: none;
}


#new-weather{
  color:red;
  font-style:italic;
}