@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Quicksand:wght@300;400;500&family=Roboto:ital,wght@0,100;0,400;1,100;1,300&display=swap');

:root {
  --Playfair:'Playfair Display', serif;
  --Quicksand : 'Quicksand', sans-serif;
  --Roboto :'Roboto', sans-serif;
  --dark #375dc9;
}

body{
  line-height : 1.4;
  color : var(--dark);
}

*{
  padding :0;
  margin :0;
  font-family: var(--Quicksand);
}

.container{
  max-width : 1320 px;
  margin :0 auto;
  padding : 0 1.2rem;
}

header{
  min-height : 50vh;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://coolbackgrounds.io/images/backgrounds/white/white-unsplash-9d0375d2.jpg) center/ cover no-repeat fixed;
  display : block;
  flex direction : column;
  justify-content: stretch;
}


.navbar{
  background: rgba(0,0,0,0.6);
  padding : 1.2rem;
  color : #1e90ff;
  
}

.navbar-nav{
  padding: 0.8rem 0 0.2rem 0;
  text-align : center;
  
}

.navbar-nav a{
  text-transform: uppercase;
  font-family : var(--Roboto);
  letter-spacing: 1px;
  color: #f0f8ff;
  text-decoration : none;
  display :inline-block;
  padding : 0.4rem 0.1rem;
  transition : opacity 0.5s ease;
}

.brand{
  display: block;
  font-size :1.5rem;
  font-family: var(--Playfair);
  line-height:1.;
  color : #f0f8ff;
  text-align: center;
}

.blogname{
  font-family: var(--Playfair);
  display: block;
  text-align: center;
}

.question{
  display:block;
  text-align: center;
  margin: 60px 0 20px 0;
  padding: 10px;
}

.question span{
  font-family: var(--Playfair);
  font-size: 1.3rem;
  word-spacing: 2px;
}

.question select{
  border-radius: 2rem;
  padding: 0.6rem 0.5rem;
  width: 210px;
  cursor: pointer;
}

.design{
  padding : 4.5rem 0;
}

.title{
  text-align: center;
  padding:1.2rem;
}

.title h2{
  font-family: var(--Playfair);
  font-size:2.4rem;
}

.title p{
  text-transform : uppercase;
  padding :0.6rem 0;
}

.design-content{
  margin: 2rem 0;
}

.design-item{
  cursor: pointer;
  margin: 1.5rem 0;
}

.design-img{
  position:relative;
  overflow:hidden;
}

.design-img::after{
  position: absolute;
  content :" ";
  top :0;
  left :0
}
